 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /*------------------------
 ---------- My CSS --------
 -------------------------*/
 body{
    color: #9597A5;
    font-family: 'Public Sans', sans-serif;
 }
 .wrapper{
    width: 375px;
    margin: 0 auto;
 }
 header{
    display: grid;
    grid-template-rows: repeat(5, auto);
    position: relative;
 }
#logo{
    grid-row: 1/2;
    grid-column: 1/-1;
    align-self: center;
}
#hamburger{
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: end;
    margin-right: 20px; 
    cursor: pointer;
    align-self: center;
}

 [type="checkbox"]{
    width: 40px;
    height: 64px;
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: end;
    opacity: 0;
    cursor: pointer;
    margin-right: 10px;
    z-index: 200;
 }

h1{
    grid-row: 3/4;
    grid-column: 1/-1;
    font-size: 40px;
    margin-bottom: 18px;
}
#hero{
    grid-row: 2/3;
    grid-column: 1/-1;
    clip-path: inset(40px 0 0 0);
    margin-top: -40px;
}

header button{
    grid-row: 6/-1;
    justify-self: center;
}
header p{
    grid-row: 4/5;
}
#checkbox:checked ~ nav{
    transform: translateY(0%);
    max-height: 290px;
    background-color: #fff;
    margin-top: 24px;  
}
#checkbox:checked ~ #heroTint{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 70px;
    width: 375px;
    height: 43vh;
    background-image: linear-gradient(rgb(45,49,77), rgba(45,50,77,0.1));
    z-index: 400;
}

#checkbox:checked ~ nav a{
    visibility: visible;
}

 h1, h2, h3, h4{
    color: #2D314D;
    font-weight: 300;
    text-align: center;
 }
 section h2{
    font-size: 32px;
    margin-bottom: 14px;
    letter-spacing: -0.57px;
    padding: 0 40px;
 }
 p{
    line-height: 25px;
    letter-spacing: -0.23px;  
    font-size: 15px;
    margin: 0 24px;
 }
 nav{
    width: 85%;
    grid-row: 2/3; 
    grid-column: 1/-1;  
    z-index: 400;
    border-radius: 4px;
    margin: 0 auto;
 }

 nav ul{
    visibility: hidden;
 }

 ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
 }

 
 nav ul a{
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 12px 0;
    color: #2D314D;
 }

 ul > li{
    margin: 10px;
 }
 img{
    max-width: 100%;
    vertical-align: bottom;
 }
 #phoneMockup {
    grid-row: 2/3;
    grid-column: 1/-1;
    z-index: 100;
    margin-top: -135px;
    clip-path: inset(135px 0 0 0);
 }

 main p{
    margin-bottom: 30px;
 }
 button{
    display: block;
    margin: 0 auto;
    padding: 8px 34px;
    background-image: linear-gradient(to right, #33D35E, #2AB6D9);
    color: #fff;
    font-weight: 700;
    height: 44px;
    border: none;
    margin-bottom: 88px;
    border-radius: 50px;
 }
 #secondaryContent{
    background-color: #F4F5F7;
    padding-top: 64px;
    margin-bottom: 88px;
 }
 #secondaryContent section:first-of-type{
    padding-top: 24px;
 }
 #secondaryContent h3{
    margin-bottom: 16px;
 }
 #secondaryContent section:last-of-type{
    padding-bottom: 64px;
 }
 #secondaryContent section svg{
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 24px;
 }
 section p{
    text-align: center;
 }
 article h2{
    font-size: 32px;
    letter-spacing: -0.57px;    
    margin-bottom: 31px;
 }


  article h4{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.29px;
    margin-bottom: 8px;
 }
 article p{
    margin-bottom: 8px;
 }
 figure{
    margin: 0 24px;
    padding: 0;
 }
 figcaption{
    padding:25px 0 8px;
    font-size: 10px;
    font-style: italic;
    letter-spacing: -0.16px;
    margin-left: 31px;
 }

 .attribution {
    font-size: 11px;
    text-align: center;
}

 .attribution a {
    color: hsl(228, 45%, 44%);
}